ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#0A174E;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color:#F5D042;
    color:#0A174E;
  }