
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #696969;
}




/*Cards*/

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 1%;
}

.cards a:hover {
    color: yellow;
    text-decoration: none;
}

.cards-item {
    display: flex;
    padding: 2rem;
}

@media (min-width: 40rem) {
    .cards-item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards-item {
        width: 33.3333%;
    }
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

}

.card-image::before {
    display: block;
    content: "";
    padding-top: 56.25%;
}

@media (min-width: 40rem) {
    .card-image::before {
        padding-top: 66.6%;
    }
}

.card-image1{
    background: url(download.jfif);
    background-repeat: round;
    max-width: 100%;


}
.card-image2{
    background-image: url(images.jfif);
    background-repeat: round;
    max-width: 100%;
}
.card-image3{
    background-image: url(images\ \(1\).jfif);
    background-repeat: round;
    max-width:100%;

}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
}

.card-title {
    color: #000000;
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.card-text {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    color: #484848;
}

.cards-button {
    background-color: white;
    border: 1px solid #cccccc;
    color: #696969;
    padding: 0.5rem;
    text-align: center;
}

.button-block {
    display: block;
    width: 100%;
}

