ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #606060;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #D6ED17;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #D6ED17;
    color: #606060;
  }