*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    height: 700px;
    background: linear-gradient(#E8C5E5,#F19ED2) ,no-repeat;
}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
}
.form h1{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0;
}
.form p{
    font-size: 20px;
    margin: 15px;
}