body{
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
}



.container{
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}


div.gallery{
    margin: 10px;

    
    /* width: 280px; */
    /* max-width: 20%; */
}
div.gallery:hover{
    border: 5px solid #fdfcfc;
    transform:scale(1.0);
}
div img{
    width: 100%;
    height: 200px;
}
div.desc {
    padding: 15px;
    text-align: center;
  }