* {
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    /* background-color: white; */

}

.grid-item1 {
    background-color: #000;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 150px;
    height: 100px;
}

.grid-item2 {
    background-color: #fff;
    
    padding: 20px;
    width: 150px;
    height: 100px;
}