*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family:Verdana, sans-serif;
  list-style-type: none;
}




header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  /* z-index: 1s; */

}
.logo{
  font-size: 35px;
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
}
.logo:hover{
  color: orangered;
  text-shadow: 0 0 25px orangered,
                0 0 50px orangered;
  transform: scale(1.1);

}
.navbar a{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px;
}
.navbar a.active,
.navbar a:hover{
  color: orangered;
  border-bottom: 2px solid orangered;
}
.contact{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  border-radius: 8px;
  letter-spacing: 1px;
  font-size: 16px;
  transform: 0.3s ease;
}
.contact:hover{
  background-color: orangered;
  color: white;
  box-shadow: 0 0 25px orangered;
}
.home{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 7em;
  padding: 70px 12% 0;
}
.home-content{
  max-width: 800px;
}
.home-content h3{
  font-size: 30px;

}
.home-content h1{
  font-size: 42px;
  line-height: 1.2;
}
.home-content p{
  font-size: 18px;
  margin: 25px 0 30px;
}
.btn-box{
  width: 345px;
  display: flex;
  gap: 3em;
  
}
.btn1{
  padding: 15px 28px;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  font-weight: 600;
  border-radius: 8px;
  letter-spacing: 1px;
  font-size: 16px;
  transform: 0.3s ease;
  cursor: pointer;
}
.btn1:hover{
  background-color:white;
  color: black;
  border: 2px solid black;
}
.btn2{
  padding: 15px 28px;
  background-color: orangered;
  color: white;
  border: 2px solid black;
  font-weight: 600;
  border-radius: 8px;
  letter-spacing: 1px;
  font-size: 16px;
  transform: 0.3s ease;
  cursor: pointer;
}
.btn2:hover{
  background-color:white;
  color: black;
  border: 2px solid black;
}
.img-box img{
 border-radius: 50%;
 width: 300px;
}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-thumb{
 background-color: orangered;
}
::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
}
span{
  color: orangered;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12% 12%;
  background-color: black;
  gap: 10em;
}
.about-img img{
  position: relative;
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 25px orangered,
              0 0 50px orangered;
}
.about-content h2{
  text-align: left;
  color: white;
  font-size: 42px;
}
.about-content h3{
  font-size: 62px;
  color: white;
}
.about-content p{
  color: white;
  font-size: 20px;
  margin: 2em 0 3em;
}
.contact-form h2{
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 36px;
}
.contact-form form{
  max-width: 50em;
  text-align: center;
  margin: 1rem auto;
  margin-bottom: 3em;
}
.contact-form form .input-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-form form .input-box input,
.contact-form form textarea{
  width: 100%;
  padding: 1.5em;
  font-size: 18px;
  color: black;
  background-color: white;
  border-radius: 0.8em;
  margin: 1rem 0;
  resize: none;

}
.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 40px 0;
}
.footer .social{
  text-align: center;
  padding-bottom: 25px;
  
}
.footer .social a{
  font-size: 24px;
  color: white;
  border: 2px solid orangered;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 38px;
  display: inline-block;
  margin: 0 8px;
  box-shadow:inset 0 0 10px orangered;
  transition: 0.3s;
}
.footer .social a:hover{
  transform: scale(1.5)translateY(-10px);
  color: orangered;
  border: 2px solid orangered;
}
.footer ul{
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li{
  display: inline-block;
  padding: 0 15px;
}
.footer ul li a{
  color: white;
  border-bottom: 2px solid transparent;
  transition: 0.3 ease;
}
.footer ul li a:hover{
  border-bottom: 2px solid orangered;
}

.footer .copy{
  margin-top: 15px;
  color: white;
  text-align: center;
  font-size: 12px;
}