


body{
    background-color: #9D633B;

}
h1{
    text-align: center;
    color: white;
    font-size: 42px;
    font-family: monospace;
}
.gallery{
    display: flex;
    gap: 1rem;
    height: 300px;
    width: 95%;
}

.gallery div{
    flex: 1;
    transition: all 1s;
}

.gallery div:nth-child(1){
    background: url("./img2.jfif");
    background-position: center;
    background-size: cover;
}
.gallery div:nth-child(2){
    background: url("./img3.jfif");
    background-position: center;
    background-size: cover;
}
.gallery div:nth-child(3){
    background: url("./images.jfif");
    background-position: center;
    background-size: cover;
}
.gallery div:hover{
    flex: 6;
}