*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;

}
nav{
    background: #8F8E93;
    height: 80px;
    width: 100%;
}
label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 80px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black; 
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 14px;
    border-radius: 3px;
}
/* a.active{
    background-color: #ECD84C;
    transition: .5s;
}
a:hover{
    background-color: #ECD84C;
    transition: .5s;
} */


a.active,a:hover{
    background-color: #ECD84C;
    transition: .5s;

}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
